@page
@model Site.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Rooms";
}
<h1>Rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Landlord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landlord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>

					<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (Model.fl) {
                        @if (Model.nw.Id == item.LordId)
                        {
                            <a>|</a>

                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                            <a>|</a>
                            <a asp-page = "./Delete" asp-route-id = "@item.Id" > Delete </a >
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
